@charset 'UTF-8';

@font-face {
    font-family: 'one-piece';
    src: url(fontes/one\ piece\ font.ttf);
}

:root{
    --cor: #0C3EED;
    --cor2: #ED4618;
    --cor3: #00B2ED;
    --cor4:#EDB418;
    --cor5: #0CEDAA;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}
header{
    background-image: linear-gradient(to right, var(--cor), var(--cor3))
}
header h1{
    font-size: 5em;
    text-align: center;
    padding: 30px;
    font-family: 'one-piece';
    letter-spacing: 6px;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px 3px black;
}
header p {
    text-align: center;
    position: relative;
    bottom: 30px;
    font-size: 1.4em;
    color: var(--cor4);
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px black;
}
header span{
    color: rgba(255, 0, 0, 0.897);
}
img{
    margin: 20px;
    border: solid;
    border-radius: 20px;
    position: absolute;
}
div.Luffy{
    background-color: red;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 40px;
}
div p{
    width: 630px;
    margin: auto;
    padding: 55px 75px 75px 300px;
    line-height: 1.7em;
    color: rgba(255, 255, 255, 0.815);
    font-size: 1.1em;
    text-align: justify;
    justify-content: center;
}

div.Nami{
    background-color: #ED4618;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}
div.Nami > p{
    line-height: 1.9em;
    text-align: justify;
    justify-content: center;
}

div.zoro{
    background-color: #0CEDAA;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}

div.Sanji{
    background-color: yellow;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}

div.usopp{
    background-color: orange;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}

div.robin{
    background-color: purple;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}

div.chopper{
    background-image: linear-gradient(to right, var(--cor3), pink);
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}

div.franky{
    background-color: #00B2ED;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}
div.franky > p{
    display: inline;
    position: absolute;
}

div.brook{
    background-color: gray;
    margin: 10px;
    border-radius: 14px 0px 0px 44px;
    margin-right: auto;
    height: 300px;
    padding-bottom: 10px;
    padding-top: 20px;
}
div.brook > p{
    text-align: right;
}


